# More crap that needs to be ignored --eez
*.opensdf
*.sdf
*/ipch/*
*/[Dd]ebug/*
*/[Rr]elease/*
Game/codemp/Debug/*
Game/codemp/ipch/*
*.user
*.suo

# Object files
*.o

# Libraries
#*.lib
*.a

# Shared objects (inc. Windows DLLs)
#*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Qt
*/[Gg]enerated[Ff]iles/[Rr]elease/*
*/[Gg]enerated[Ff]iles/[Dd]ebug/*

# even more bullshit (tm)
*.tlog
*.obj
*.cache