# More crap that needs to be ignored --eez
*.opensdf
*.sdf
Game/codemp/ipch/*
/Game/codemp/[Dd]ebug/*

# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
